/** @format */

.tableContainer {
  // width: 54%;

  margin-top: 100px;
  margin-left: 100px;
  margin-right: auto;

  table {
    border-collapse: collapse;
    th {
      border: 1px solid rgb(87, 165, 201);
      padding: 5px 70px 10px 10px;
    }
    td {
      border: 1px solid rgb(87, 165, 201);
      padding: 5px 70px 10px 10px;
      background-color: #dddddd;
    }
    td:nth-child(5) {
      justify-content: center;
      cursor: pointer;
    }
    td:nth-child(6) {
      justify-content: center;
      cursor: pointer;
    }
  }
}
.modal-container {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 300px;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // top: 0;
  background: rgba(92, 36, 36, 0.842);
  .input-container {
    padding: 60px;
    bottom: 0;
    input {
      margin-top: 20px;
      height: 30px;
    }
    button {
      margin-top: 10px;

      padding: 10px;
    }
  }
}
