/** @format */

.tableContainer {
  width: 54%;

  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

  table {
    border-collapse: collapse;
    th {
      border: 1px solid rgb(87, 165, 201);
      padding: 5px 70px 10px 10px;
    }
    td {
      border: 1px solid rgb(87, 165, 201);
      padding: 5px 70px 10px 10px;
      background-color: #dddddd;
    }
    td:nth-child(5) {
      justify-content: center;
      cursor: pointer;
    }
    td:nth-child(6) {
      justify-content: center;
      cursor: pointer;
    }
  }
}
