/** @format */

.pop-Container {
  background-color: rgba(27, 18, 34, 0.425);
  margin-left: 100px;
  width: 216px;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  button {
    width: 50px;
  }
}
