/** @format */

.headerContainer {
  background-color: #31648f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  span {
    border: 1px solid #81abbb;
    background-color: #81abbb;
    color: black;
    padding: 5px 20px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: antiquewhite;
    }
  }
}
