/** @format */

.country-container {
  background-color: rgba(27, 18, 34, 0.425);
  margin-left: 100px;
  width: 216px;
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  input {
    width: 200px;
    height: 30px;
  }
}
